/* some style */
body{
  font-size: 16px;
  font-family: Arial;
}

#app{
}

#start-btn{
  display: inline-block;
  text-align: center;
  margin: 15px 0px;
  padding: 12px 8px;
  cursor: pointer;
  background: green;
  color: white;
}

main{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
